@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.create-message-title {
  width: 60%;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

.create-message-container {
  margin-top: 25px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 32px 120px 0px 64px;
  font-family: 'Spartan', sans-serif;
  max-width: 800px;
  background-color: white;
}

.create-message-add-optional-title {
  padding-top: 25px;
}

.create-message-optional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
}

.create-message-option {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 50px;
  padding: 10px;
  width: 50%;
}

.create-message-option > input {
  border-radius: 8px;
  border: 1px solid black;
}

.create-message-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

.create-message-title-text {
  text-align: center;
  width: 40%;
  color: #576464;
  & p {
    font-size: 12px;
  }
}

.Emoji-Textarea {
  border-radius: 8px;
}

.create-message-submit {
  background-color: #03838c;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  margin: 10px 0 40px 0;
  align-self: center;
}

@media (max-width: 764px) {
  .create-message-container {
    padding: 10px 0 10px 0 !important;
    margin-top: 0 !important;
    border: none !important;
    border-radius: 0px !important;
    width: 100%;
  }
  .create-message-title-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  .create-message-title {
    width: 90%;
    text-align: center;
  }

  #checkBox {
    margin-left: 10px;
  }

  .create-message-title-text {
    text-align: center;
    width: 70%;
    color: #576464;
    & p {
      font-size: 15px;
    }
  }

  .create-message-add-optional-title {
    padding-left: 10px;
  }

  .create-message-optional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  #message {
    display: flex;
    flex-direction: column;
  }
  .create-message-submit {
    width: 75%;
  }
  .create-message-option {
    display: flex;
    width: 80vw;
    flex-direction: column;
  }
  .Emoji-Textarea {
    max-width: 0;
  }
}

// checkbox code and animation

.checkbox {
  width: 100%;
  margin-left: 10px;
  position: relative;
  display: block;
}

.checkbox input[type='checkbox'] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid black;
}
.checkbox label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #03838c;
  border-left: 2px solid #03838c;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type='checkbox']:checked ~ label::before {
  color: #03838c;
  border: 2px solid #03838c;
}

.checkbox input[type='checkbox']:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type='checkbox']:focus + label::before {
  outline: 0;
}
