.sign-in-container {
  font-family: 'Spartan', sans-serif;
  margin-top: 50px;

  .sign-in-form {
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px silver;
    padding: 30px;
    background: white;

    .sign-in-title {
      font-size: 48px;
      font-weight: 1000;
      margin-bottom: 20px;
    }

    label {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .submit-button {
      font-weight: 600;
      background-color: #03838c;
      margin-top: 5px;
    }

    .create-sign-up {
      display: flex;
      margin-top: 15px;
      .sign-up-link {
        margin-right: 10px;
      }
    }
  }
}
