.sign-in-container {
  font-family: 'Spartan', sans-serif;
  margin: 50px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in-form {
    margin: 0 !important;
    border: 2px solid black;
    box-shadow: 2px 2px 2px silver;
    padding: 30px;
    width: 50vw;
    background: white;

    .sign-in-title {
      font-size: 48px;
      font-weight: 1000;
      margin-bottom: 20px;
    }

    label {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .submit-button {
      font-weight: 600;
      background-color: #03838c;
      margin-top: 5px;
    }

    .create-sign-up {
      display: flex;
      margin-top: 15px;
      .sign-up-link {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .sign-in-container {
    margin: 0;
    width: 100%;
    .sign-in-form {
      border: none;
      padding: 16px;
      margin: 0 !important;
      width: 100%;
      height: 100vh;
      input {
        outline: none;
      }
      .sign-in-title {
        font-size: 24px;
        margin: 24px 0 48px 0;
      }
      .submit-button {
        width: 100%;
      }
      .create-sign-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        .sign-up-link {
          margin-right: 0;
          margin-bottom: 24px;
        }
      }
      // Sign in form labels (such as Email & Password)
      label {
        margin-bottom: 16px;
      }
      #email {
        margin-bottom: 40px;
      }
      #password {
        margin-bottom: 40px;
      }
    }
  }
}
