@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  max-width: 1000px;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.masonry-container {
  display: flex;
  justify-content: center;
}

.edit-send {
  background-color: #03838c;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  margin: 10px 0 40px 0;
  align-self: center;
}
.profile-container {
  font-family: 'Spartan', sans-serif;
  margin: 0px 16px 24px 16px;
}

.profile-data {
  margin: 16px auto;
  padding: 24px;
  width: 343px;
  height: 206px;
  background-color: white;
  border-radius: 15px;
}

.sent-cards {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  background-color: #03838c;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
  font-size: 24px;
  color: white;
}
.profile-index-container {
  margin: auto;
  display: flex;
  overflow: scroll;
  background-color: #03838c;
  justify-content: center;
  width: 100%;
}

.link {
  color: black;
  text-decoration: underline;
}
.link:hover {
  color: #03838c;
  text-decoration: underline;
}

.update-message-container {
  font-family: 'Spartan', sans-serif;
  max-width: 800px;
  background-color: white;
}

.closeButton {
  line-height: 1.2rem;
  padding: 2px;
  color: #03838c;
}
.closeButton:hover {
  cursor: pointer;
  font-size: 1.1rem;
}

.header-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 480px) {
  .user-info {
    padding-bottom: 16px;
    font-family: 'Spartan', sans-serif;
  }
  .profile-data {
    margin: 16px auto;
    padding: 24px;
    width: 343px;
    height: 206px;
    background-color: white;
    border-radius: 15px;
  }

  .profile-index-container {
    display: flex;
    overflow: scroll;
    background-color: #03838c;
    width: 100%;
    justify-content: center;
  }
  .sent-cards {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}
