@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.edit-send {
  margin: 10px;
  background-color: #03838c;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  align-self: center;
}
.profile-container {
  height: 80vh;
  font-family: 'Spartan', sans-serif;
}

.profile-data {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: white;
}

.profile-index-container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: #03838c;
  justify-content: center;
}

.link {
  color: black;
  text-decoration: underline;
}
.link:hover {
  color: #03838c;
  text-decoration: underline;
}

.update-message-container {
  font-family: 'Spartan', sans-serif;
  max-width: 800px;
  background-color: white;
}
