@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.edit-send {
  background-color: #03838c;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  margin: 10px 0 40px 0;
  align-self: center;
}
.profile-container {
  height: 80vh;
  font-family: 'Spartan', sans-serif;
  margin: 0px 16px 24px 16px;
}

.profile-data {
  margin: 16px auto;
  padding: 24px;
  width: 343px;
  height: 206px;
  background-color: white;
  border-radius: 15px;
}

.sent-cards {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  background-color: #03838c;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
  font-size: 24px;
  color: white;
  width: 75%;
}
.profile-index-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: #03838c;
  justify-content: center;
  width: 75%;
}

.link {
  color: black;
  text-decoration: underline;
}
.link:hover {
  color: #03838c;
  text-decoration: underline;
}

.update-message-container {
  font-family: 'Spartan', sans-serif;
  max-width: 800px;
  background-color: white;
}

.closeButton {
  line-height: 1.2rem;
  padding: 2px;
  color: #03838c;
}
.closeButton:hover {
  cursor: pointer;
  font-size: 1.1rem;
}

.header-container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 480px) {
  .user-info {
    padding-bottom: 16px;
    font-family: 'Spartan', sans-serif;
  }
  .profile-data {
    margin: 16px auto;
    padding: 24px;
    width: 343px;
    height: 206px;
    background-color: white;
    border-radius: 15px;
  }

  .profile-index-container {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: #03838c;
    width: 100%;
    justify-content: center;
  }
  .sent-cards {
    width: 100%;
  }
}

.modal-backdrop.show {
  opacity: 1;
  background-color: #9ec3c6;
}

.dates {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  display: block;
  color: #576464;
  margin: 24px 16px 24px 16px;
}

.content {
  font-weight: 600;
  line-height: 141%;
}

.name {
  color: #576464;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
}

.facility {
  line-height: 1;
  margin: 40px 16px 0px 16px;
}

.state {
  line-height: 1;
  margin: 0px 16px 48px 16px;
}

.clinician {
  margin: 0px 16px 0px 16px;
}
