.card-container {
    border: 1px solid black;
    padding: 20px 20px 0px 20px;
    margin: 1em;
    border-radius: 10px;
}
.hover-container {
    display: flex;
    position: relative;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    bottom: 160px;
    left: 120px;
    background-color: lightgray;
    border-radius: 20px;
    opacity: 0;
    width: 100px;
  }

  .hover-container:hover {
    opacity: 0.7;
  }

  .hover-icon {
    font-size: large;
  }
.card-heading {
    display: flex;
    justify-content: space-between;
}
