.card-container {
  background-color: white;
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  margin: 1em;
  border-radius: 10px;
  width: 300px;
}
.hover-container {
  display: flex;
  position: relative;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  background-color: lightgray;
  border-radius: 20px;
  opacity: 1;
  width: 100px;
}

.hover-icon {
  font-size: large;
}

.top-content {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.facility {
  margin-bottom: 10px;
}

.card-heading {
  display: flex;
  justify-content: flex-end;
}

.card-container {
  border: 1px solid black;
  padding: 20px 20px 0px 20px;
  margin: 1em;
  border-radius: 10px;
}

.dates {
  float: right;
  color: #576464;
  font-size: 10px;
  font-family: 'Spartan', sans-serif;
}

.content {
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  word-wrap: break-word;
}

.name {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  color: #576464;
  font-weight: 700;
  float: left;
}

.line {
  color: #c4c4c4;
}

.facility {
  color: #03838c;
  font-size: 16px;
  margin: 30px 0px 0px 0px;
  font-weight: 600;
}

.state {
  color: #03838c;
  font-size: 16px;
  margin: 0px 30px 0px 0px;
  font-weight: 600;
}

.clinician {
  color: #03838c;
  font-size: 16px;
  font-weight: 600;
}
.btn-icon {
  background-color: #03838c;
  padding: 0;
  height: 25px;
}

.icon {
  height: 20px;
  margin-bottom: 5px;
}

.edit-icon {
  font-size: 20px;
  margin-bottom: 5px;
}
