.navbar {
  display: flex !important;
  justify-content: space-between !important;
  font-family: 'Spartan', sans-serif;
  background-color: white;
}

.navbar-collapse {
  flex-grow: unset;
  background-color: white;
}

.search-icon {
  display: flex;
  img {
    margin: 5px;
  }
}

.message-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  transition: transform 0.2s;
}

.message-link:hover {
  transform: scale(1.1);
}

.message-icon {
  font-size: 40px;
  color: #03838c;
}

.search-bar-container {
  display: flex;
  img {
    padding: 5px;
  }
}

.app-logo {
  margin-left: 50px;
}
