.navbar {
  display: flex !important;
  justify-content: space-between !important;
  font-family: 'Spartan', sans-serif;
  background-color: white;
}

.navbar-collapse {
  flex-grow: unset;
}

.search-bar-container {
  display: flex;
  img {
    margin: 5px;
  }
}
