.footer {
  font-family: 'Spartan', sans-serif;
  background-color: white;
  width: 100vw;
  font-size: 14px;

  p {
    margin: 0;
  }

  .footer-line-first {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9ec3c6;
    padding: 10px 30px;

    .contact-email a {
      color: #03838c;
      vertical-align: sub;
    }

    .footer-logo img {
      height: 14px;
    }
  }
  .footer-line-second {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

    .footer-text {
      color: #576464;
    }

    .private-policy-link a {
      color: black;
      font-weight: bold;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    .footer-text {
      overflow-wrap: break-word;
      max-width: 45vw;
      height: 65px;
    }
  }
}
