@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');

.index-header {
  display: flex;
  justify-content: center;
}
.index-header-text {
  margin: 48px 0px 72px 0;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  font-weight: 600;
}
.index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thanks-box {
  position: absolute;
  left: -30px;
  top: 100px;
  font-weight: bolder;
  margin: 50px;
  border-bottom: #03838c solid 3px;
  text-align: center;
  line-height: 18px;
}

@media (max-width: 1024px) {
  .index-header-text {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .index-header-text {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
  }
  .thanks-box {
    display: none;
  }
}

@media (max-width: 480px) {
  .thanks-box {
    display: none;
  }
  .index-header-text {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.thank-count-container {
  width: 75%;
  margin: 0 auto;
}
