@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');

.index-header {
  display: flex;
  justify-content: center;
}
.index-header-text {
  margin: 48px 0px 72px 0;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  font-weight: 600;
}
.index-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 10px;
}

.thanks-box {
  position: absolute;
  left: -30px;
  top: 100px;
  font-weight: bolder;
  margin: 50px;
  border-bottom: #03838c solid 3px;
  text-align: center;
  line-height: 18px;
}

@media (max-width: 1024px) {
  .index-header-text {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .index-header-text {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
  }
  .thanks-box {
    display: none;
  }
}

@media (max-width: 480px) {
  .thanks-box {
    display: none;
  }
  .index-header-text {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.thank-count-container {
  width: 75%;
  margin: 0 auto;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  max-width: 1000px;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.masonry-container {
  display: flex;
  justify-content: center;
}
